<h1>Listing pledges</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Status</th>
    <th>Attempt</th>
    <th>Charity</th>
  </tr>

<% @pledges.each do |pledge| %>
  <tr>
    <td><%=h pledge.value %></td>
    <td><%=h pledge.status %></td>
    <td><%=h pledge.attempt_id %></td>
    <td><%=h pledge.charity_id %></td>
    <td><%= link_to 'Show', resource_path(pledge) %></td>
    <% if @account %>
    <td><%= link_to 'Edit', edit_resource_path(pledge) %></td>
    <td><%= link_to 'Destroy', resource_path(pledge), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @account %>
<%= link_to 'New pledge', new_resource_path %>
<% end %>