<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<div id="title">
	<h1>Daregood</h1>
</div>

<div id="intro" class="allroundcorners">
	<span>Welcome to Daregood where you can dare friends, or be dared yourself, to do good for charity.</span>
</div>

<div id="dares">
<div class="top"></div>
<table class="dares">

	<colgroup>
    	<col class="gravatar" />
    	<col class="title" />
    	<col class="media" />
    	<col class="prog" />
    </colgroup>
    
    <% @attempts.each do |attempt| %>
    <tr>
	<td class="gravatar">
		<%= image_tag(attempt.daree.gravatar_url, :height => 80, :width => 80) %>
	</td>
	
	<td class="title"><%= link_to(attempt.daree.name, public_user_path(attempt.daree.name)) %> will <%= link_to(attempt.challenge.name, challenge_attempt_path(attempt.challenge, attempt)) %> for <%= number_to_currency(attempt.target_value, :unit => '£') %>.</td>
	<td class="media">[media]</td>
		<td class="prog"><%= number_to_currency(attempt.value_pledged, :unit => '£') %> / <%= number_to_currency(attempt.target_value, :unit => '£') %></td>
	</tr>
	<% end %>
</table>

<div class="bottom"></div>
</div>

<div id="options">
	
	<div class="item allroundcorners left">
		<h3>Challenge</h3>
		<p>Want to dare a friend to do something? <%= link_to('Declare a new challenge.', new_challenge_path) %></p>
	</div>
	
	<div class="item allroundcorners right">
		<h3>Explore</h3>
		<p>Find dare that is in progress.  See the completed challenges to choose a good dare for your friend.</p>
	</div>
	
</div>
