<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<div id="title">
	<h1>Dares available</h1>
</div>

<div id="intro" class="allroundcorners">
	<span>These are all of the dares that are available.</span>
</div>

<div id="dares">
<div class="top"></div>
<table class="dares">

	<colgroup>
	<col/>
	<col class="gravatar" />
	<col class="title" />
	<col class="dare" />
	<col class="attempts" />
	</colgroup>

	<% @challenges.each do |challenge| %>
	<tr>
    <td class="gravatar">
      <%= image_tag(challenge.user.gravatar_url, :height => 80, :width => 80) unless challenge.user.nil? %>
    </td>
		<td class="title">
      <%= challenge.user.name %> created:
    </td>

		<td class="dare">
			<%= link_to(challenge.name, challenge_path(challenge)) %>.
		</td>

		<td class="attempts">
			<% if challenge.attempts.any? %>
			Attempted by
			<%= challenge.attempts.map { |attempt| link_to(attempt.daree.name, challenge_attempt_path(challenge, attempt)) }.join(', ') %>
			<% end %>
		</td>
		
		<td class="dare">
			<%= render(:partial => 'dare', :locals => { :challenge => challenge } )%>
		</td>
	</tr>
	<% end %>

</table>

<div class="bottom"></div>
</div>

<div id="options">
	
	<div class="item allroundcorners left">
		<h3>Challenge</h3>
		<p>Want to dare a friend to do something? <%= link_to('Declare a new challenge.', new_challenge_path) %></p>
	</div>
	
	<div class="item allroundcorners right">
		<h3>Explore</h3>
		<p>Find <%= link_to('all dares in progress', challenges_path) %> to choose a good dare for your friends.</p>
	</div>
	
</div>
