<h1>Listing challenges</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>User</th>
  </tr>

<% @challenges.each do |challenge| %>
  <tr>
    <td><%=h challenge.name %></td>
    <td><%=h challenge.description %></td>
    <td><%=h challenge.status %></td>
    <td><%=h challenge.user.login %></td>
    <td><%= link_to 'Show', resource_path(challenge) %></td>
    <% if @account %>
    <td><%= link_to 'Edit', edit_resource_path(challenge) %></td>
    <td><%= link_to 'Destroy', resource_path(challenge), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @account %>
<%= link_to 'New challenge', new_resource_path %>
<% end %>