<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'dare' %>
<% end %>


<div id="dare">
  <span class="title"><h1>Create a new dare</h1></span>
</div>

<div id="left-bar">
  <% form_for(@challenge, :url => account_challenges_path) do |f| %>
  <%= f.error_messages %>

  <div id="summary">
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>
  </div>
</div>



<%= link_to 'Back', resources_path %>