<p>
  <b>Name:</b>
  <%=h @challenge.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @challenge.description %>
</p>

<p>
  <b>Status:</b>
  <%=h @challenge.status %>
</p>

<p>
  <b>User:</b>
  <%=h @challenge.user_id %>
</p>


<%= link_to 'Edit', edit_resource_path %> |
<%= link_to 'Back', resources_path %>