<h1><%=h @challenge.name %></h1>

<p><%=h @challenge.description %></p>

<p>
  <b>Status:</b>
  <%=h @challenge.status %>
</p>

<p>
  <b>User:</b>
  <%= link_to(@challenge.user.login, public_user_path(@challenge.user)) %>
</p>

<p>
  <b>Challenge accepted by <%= link_to("#{@challenge.attempts.count} users", resource_attempts_path) %></b>
</p>

<p>
<% if logged_in? %>
<% form_for @challenge.attempts.new, :url => account_attempts_path do |f| %> 
<%= f.hidden_field :challenge_id %>
<%= f.hidden_field :daree_id, :value => current_user.id %>
<%= f.submit('Attempt this challenge') %>
<% end %>
or dare
<% form_for @challenge.attempts.new, :url => account_attempts_path do |f| %>
<%= f.hidden_field :challenge_id %>
<%= f.hidden_field :darer_id, :value => current_user.id %>
<%= collection_select(:attempt, :daree_id, User.all, :id, :name, {:prompt => true}) %>
<%= f.submit('to attempt this challenge') %>
<% end %>
<% end %>
</p>

<%= render(:partial => 'comments/comments', :locals => { :comments => @challenge.comments}) %>

<% if @account %>
<%= link_to 'Edit', edit_resource_path %> |
<%= link_to 'Back', resources_path %>
<% end %>