<h1><%=h @challenge.name %></h1>

<p><%=h @challenge.description %></p>

<p>
  <b>Status:</b>
  <%=h @challenge.status %>
</p>

<p>
  <b>User:</b>
  <%= link_to(@challenge.user.login, public_user_path(@challenge.user)) %>
</p>

<p>
  <b>Challenge accepted by <%= link_to("#{@challenge.attempts.count} users", resource_attempts_path) %></b>
</p>

<% form_for @challenge.attempts.new, :url => account_attempts_path   do |f| %> 
<%= f.hidden_field :challenge_id %>
<%= f.submit('Attempt this challenge') %>
<%end %>

<%= render(:partial => 'comments/comments', :locals => { :comments => @challenge.comments}) %>

<% if @account %>
<%= link_to 'Edit', edit_resource_path %> |
<%= link_to 'Back', resources_path %>
<% end %>