<p>
  <b>Challenge:</b>
  <%=h @attempt.challenge_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @attempt.status %>
</p>

<p>
  <b>User:</b>
  <%=h @attempt.user_id %>
</p>

<% if @account %>
<%= link_to 'Make a pledge', new_resource_pledge_path %>

<%= link_to 'Edit', edit_resource_path %> |
<% end %>
<%= link_to 'Back', resources_path %>