<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'dare' %>
<% end %>

<div id="dare">
  <span class="title"><h1><%=h @attempt.challenge.name %></h1></span>
</div>

<div id="right-bar">

  <div id="pledge">
    <h3>Support this Charity</h3>
    <p><b><%= @attempt.charity.name if @attempt.charity %></b></p>
    <p><i><%= @attempt.charity.mission if @attempt.charity %></i></p>
    <p><%= image_tag(@attempt.charity.logo_url) if @attempt.charity %></p>
    
    <p>Clicking "Pledge" will take you to PayPal to pre-authorise the payment.  You will <span style="color: red; font-weight: bold">only be charged if the dare is completed</span>.</p>

    <% if logged_in? %>
      <% form_for @attempt.pledges.new, :url => account_pledges_path do |f| %> 
        <%= f.hidden_field :attempt_id %>
        Amount: <%= f.text_field :value  %>
        <%= f.submit('Make a Pledge') %>
      <% end %>
    <% end %>


  </div>
  
  <div id="prog">
    <h3>Progress</h3>
    <p>x of y</p>
    <div class="bar-outer"><div class="bar-inner" style="height: <%= 100-@attempt.progress %>%;"></div></div>
  </div>
  
</div>

<div id="left-bar">

  <div id="action"><div class="center"><%= render(:partial => 'challenges/dare', :locals => { :challenge => @challenge } )%></div></div>

  <div id="summary">

    <div class="pics">
	<table class="adareb">
		<tr>
			<td>
				<%= image_tag(@attempt.darer.gravatar_url, :height => 100, :width => 100) unless @attempt.darer.nil? %>
				<p><%= link_to(@attempt.darer.name, public_user_path(@attempt.darer)) unless @attempt.darer.nil?  %></p>
			</td>
			<td>dared</td>
			<td>
				<%= image_tag(@attempt.daree.gravatar_url, :height => 100, :width => 100) %>
				<p><%= link_to(@attempt.daree.name, public_user_path(@attempt.daree)) %></p>
			</td>
		</tr>
	</table>
    </div>
    
    <div class="desc">
      <p><%= @attempt.challenge.description %></p>
    </div>
  
  </div>
  
  <div id="media">
    <h3>Media</h3>
    <div id="fsDemo" style="height:400px;width:600px;">
    <p>Photos of this attempt.</p>
    </div>
    <script type="text/javascript">
    var cesc = new flickrshow("fsDemo", {flickr_tags: "daregood:attempt=<%= @attempt.id %>"});
    </script>
  </div>
  
  <div id="donations">
    <h3>Pledges</h3>
    
    <div class="comments">
      <% @attempt.pledges.each do |pledge| %>
      <div class="comment">
        <%= image_tag(pledge.user.gravatar_url, :height => 100, :width => 100) %>
        <span class="name"><%= pledge.user.name %></span>
        <span class="money"><%= number_to_currency(pledge.value, :unit => '£') %></span>
      </div>
      <% end %>
    </div>
  </div>
  
  <%= render(:partial => 'comments/comments', :local => { :resource => @challenge })%>
</div>

<% if @account %>
<%= link_to 'Edit', edit_resource_path %> |
<% end %>
<%= link_to "See more attempts at this challenge", resources_path %>
