<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Challenges: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

  <div id="nav_bar">
    <% unless current_page?(challenges_path) %>
    <%= link_to "All Dares!", challenges_path %>
    or
    <%end%>
  <% if logged_in? %>
    
    <% unless current_page?(account_path) %>
    <%= link_to "Your Account Home", account_path %>
    or
    <%end%>
    <%= link_to "Logout", logout_path %>

    <% else %>
    <%= link_to "Login", login_path %>
    or
    <%= link_to "Signup", signup_path %>
  <% end %>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
